<p id="notice"><%= notice %></p>

<p>
  <b>Monster food:</b>
  <%= @food.monster_food %>
</p>

<p>
  <b>Name:</b>
  <%= @food.name %>
</p>

<p>
  <b>Taste:</b>
  <%= @food.taste %>
</p>


<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
